In [44]:
import pandas as pd
import numpy as np

In [45]:
# df = pd.read_csv("dataset.csv")
df = pd.read_excel("dataset.xlsx")
df = df.drop(columns=["Наименование полигона", "Краткое наименование"])

df = df.rename(columns={
	"Полигон": "polygon",
	"Номерной знак ТС": "id",
	"Наименование структурного подразделения": "subpolygon",
	"Тип закрепления": "stating_type",
	"Выполняемые функции": "functions",
	"Должность за кем закреплен ТС": "pos_assign",
	"дата путевого листа": "date_list",
	"Данные путевых листов, пробег": "mileage_list",
	"Дата сигнала телематики": "date_telematics",
	"Данные телематики, пробег": "mileage_telematics",
	"Штрафы": "penalty",
	"манера вождения": "driving_style"
})

df = df.drop(columns=["functions", "pos_assign"])

In [46]:
df

,polygon,id,subpolygon,stating_type,date_list,mileage_list,date_telematics,mileage_telematics,penalty,driving_style
0,Окт ДМ,Б/Н,ГТС Выборг,В целевой структуре парка,2024-04-01,158.0,2024-04-01,140.26,17.0,3.5
1,NaN,NaN,NaN,NaN,2024-04-04,9.0,2024-04-02,3.00,1.0,NaN
2,NaN,NaN,NaN,NaN,2024-04-08,5.0,2024-04-08,5.00,1.0,NaN
3,NaN,NaN,NaN,NaN,2024-04-09,7.0,2024-04-09,7.00,NaN,NaN
4,NaN,NaN,NaN,NaN,2024-04-10,12.0,2024-04-10,12.00,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
4414,NaN,NaN,NaN,NaN,2024-04-28,8.0,2024-04-28,8.00,NaN,NaN
4415,NaN,NaN,NaN,NaN,2024-04-30,46.0,2024-04-30,46.00,NaN,NaN
4416,Северная ДМ,М777КХ07,Архангельская механизированная дистанция ПРР и КО,В целевой структуре парка,NaT,11.0,NaT,0.00,0.0,5.3
4417,NaN,NaN,NaN,NaN,2024-04-05,3.0,NaT,NaN,4.0,3.2
4418,NaN,NaN,NaN,NaN,2024-04-06,8.0,NaT,NaN,NaN,NaN

In [42]:
df['date_list']

0      2024-04-01
1      2024-04-04
2      2024-04-08
3      2024-04-09
4      2024-04-10
          ...
4414   2024-04-28
4415   2024-04-30
4416          NaT
4417   2024-04-05
4418   2024-04-06
Name: date_list, Length: 4419, dtype: datetime64[ns]

In [43]:
df.to_excel("data.xlsx", index=False)