In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [7]:
df = pd.read_excel("data.xlsx")

In [8]:
polygons = df.polygon.unique()

In [9]:
polygons

array(['Окт ДМ', 'Клнг. ДУТСК', 'Московская ДМ', 'Горьковская дир',
       'Северная ДМ'], dtype=object)

In [10]:
df

,leader,polygon,id,subpolygon,stating_type,date_list,mileage_list,date_telematics,mileage_telematics,penalty,driving_style
0,True,Окт ДМ,Б/Н,ГТС Выборг,В целевой структуре парка,NaT,158.0,NaT,140.26,17.0,3.5
1,False,Окт ДМ,Б/Н,ГТС Выборг,В целевой структуре парка,2024-04-04,9.0,2024-04-02,3.00,1.0,3.5
2,False,Окт ДМ,Б/Н,ГТС Выборг,В целевой структуре парка,2024-04-08,5.0,2024-04-08,5.00,1.0,3.5
3,False,Окт ДМ,Б/Н,ГТС Выборг,В целевой структуре парка,2024-04-09,7.0,2024-04-09,7.00,NaN,3.5
4,False,Окт ДМ,Б/Н,ГТС Выборг,В целевой структуре парка,2024-04-10,12.0,2024-04-10,12.00,2.0,3.5
...,...,...,...,...,...,...,...,...,...,...,...
4396,False,Северная ДМ,Р390ХН07,Архангельская механизированная дистанция ПРР и КО,В целевой структуре парка,2024-04-28,8.0,2024-04-28,8.00,NaN,5.2
4397,False,Северная ДМ,Р390ХН07,Архангельская механизированная дистанция ПРР и КО,В целевой структуре парка,2024-04-30,46.0,2024-04-30,46.00,NaN,5.2
4398,True,Северная ДМ,М777КХ07,Архангельская механизированная дистанция ПРР и КО,В целевой структуре парка,NaT,11.0,NaT,0.00,0.0,5.3
4399,False,Северная ДМ,М777КХ07,Архангельская механизированная дистанция ПРР и КО,В целевой структуре парка,2024-04-05,3.0,NaT,NaN,9.0,5.3
4400,False,Северная ДМ,М777КХ07,Архангельская механизированная дистанция ПРР и КО,В целевой структуре парка,2024-04-06,8.0,NaT,NaN,NaN,5.3

In [11]:
mileage_polygons = df[df.leader == True].groupby('polygon')[['mileage_list', 'mileage_telematics']].sum()

In [14]:
def calculate_mileage_score(df: pd.DataFrame):
	df = df.copy()
	df['mileage_deviation'] = (1 - (df['mileage_list'] / df['mileage_telematics'])).abs()*100


	return df

In [15]:
calculate_mileage_score(mileage_polygons)

                 mileage_list  mileage_telematics  mileage_deviation
polygon
Горьковская дир     163788.27           147695.28          10.896076
Клнг. ДУТСК          27903.42             4618.77         504.130970
Московская ДМ       196578.51           183048.09           7.391730
Окт ДМ               46844.80            48498.36           3.409517
Северная ДМ         275400.14           204838.43          34.447496

In [16]:
mileage_polygons

                 mileage_list  mileage_telematics
polygon
Горьковская дир     163788.27           147695.28
Клнг. ДУТСК          27903.42             4618.77
Московская ДМ       196578.51           183048.09
Окт ДМ               46844.80            48498.36
Северная ДМ         275400.14           204838.43

In [17]:
mileage_polygons['mileage_deviation'] = (1 - (mileage_polygons['mileage_list'] / mileage_polygons['mileage_telematics'])).abs()*100

In [18]:
mileage_polygons

                 mileage_list  mileage_telematics  mileage_deviation
polygon
Горьковская дир     163788.27           147695.28          10.896076
Клнг. ДУТСК          27903.42             4618.77         504.130970
Московская ДМ       196578.51           183048.09           7.391730
Окт ДМ               46844.80            48498.36           3.409517
Северная ДМ         275400.14           204838.43          34.447496

In [19]:
df[df.leader == True].groupby(['polygon', 'subpolygon'])[['mileage_list', 'mileage_telematics']].sum()

                                                                    mileage_list  \
polygon         subpolygon
Горьковская дир ДМУ-2                                                  115101.77
                ДМУ-3                                                   17092.50
                ДМУ-4                                                   31594.00
Клнг. ДУТСК     Калининградская ДМ                                       1388.43
                МЧ-01 г.Калининград                                     26514.99
Московская ДМ   Брянско-Смоленская механизированная дистанция п...      39128.90
                Московская механизированная дистанция погрузочн...     124547.61
                Орловская механизированная дистанция погрузочно...      24739.00
Окт ДМ          ГТС Выборг                                              20597.68
                Московская механизированная дистанция ОКТ ДМ (М...      20630.12
Северная ДМ     Архангельская механизированная дистанция ПРР и КО      236594.14
                Котласская механизированная дистанция ПРР и КО          38806.00

                                                                    mileage_telematics
polygon         subpolygon
Горьковская дир ДМУ-2                                                         98184.86
                ДМУ-3                                                         18736.76
                ДМУ-4                                                         30773.66
Клнг. ДУТСК     Калининградская ДМ                                             2989.79
                МЧ-01 г.Калининград                                            1628.98
Московская ДМ   Брянско-Смоленская механизированная дистанция п...            40114.50
                Московская механизированная дистанция погрузочн...           107376.11
                Орловская механизированная дистанция погрузочно...            30135.83
Окт ДМ          ГТС Выборг                                                    21350.77
                Московская механизированная дистанция ОКТ ДМ (М...            24977.26
Северная ДМ     Архангельская механизированная дистанция ПРР и КО            184887.71
                Котласская механизированная дистанция ПРР и КО                19950.72